#container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
}
#sidebar {
  width: 20%;
  background-color: aquamarine;
  height: 100vh;
  overflow-y: scroll;
}
#main {
  width: 80%;
  background-color: bisque;
  height: 100vh;
  overflow-y: scroll;
}
